.footer {
    margin-top: 7rem;
}

.footer p {
  color: #8e9195;
}

.container {
  background-color: #2d3a3a;
  color: #ffffff;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
  padding: 2rem 3rem;
}