.container {
  background-color: #2d3a3a;
  color: #ffffff;
  height: 100%;
  min-height: 95vh;
  width: 100%;
  padding: 3rem 2rem 3rem;
}

.forecastTable {
  max-height: 400px;
  overflow-y: auto;
}

.table {
  font-size: 0.9rem;
}

.metricsTable {
  min-width: 300px;
}

.buttonGreen {
  background-color: #2BA84A;
  color: #fff
}
